@font-face {
    font-family: AKbalthom-Freehand;
    src: url(AKbalthom-Freehand.ttf);
}

@font-face {
    font-family: AKbalthom-HighSchool;
    src: url(AKbalthom-HighSchool.ttf);
}

.AKbalthom-Freehand {
    font-family: 'AKbalthom-Freehand'
}

.AKbalthom-HighSchool {
    font-family: 'AKbalthom-HighSchool';
}

/* Donate Section Styles */
.donate-section {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
}

.donate-section h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.donate-section p {
    font-size: 16px;
}

.qr-code-container {
    margin-top: 20px;
}

.qr-code {
    width: 150px;
    /* Adjust size to medium */
    height: 150px;
    border-radius: 5px;
}

/* New Disclaimer Style */
.disclaimer {
    font-size: 14px;
    color: gray;
    margin-top: 20px;
    font-style: italic;
}